<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asus.uasamub_pintaria_ti7a">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASAMUB_PINTARIA_TI7A">
        <activity android:name="com.asus.uasamub_pintaria_ti7a.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.asus.uasamub_pintaria_ti7a.GetStartedAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.SignInAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.RegisterOneAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.RegisterTwoAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.SuccessRegisterAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.HomeAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.PelatihanDetailAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.PelatihanCheckoutAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.SuccessBuyTicketAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.MyProfileAct" />
        <activity android:name="com.asus.uasamub_pintaria_ti7a.MyPelatihanDetailAct" />

        <activity android:name="com.asus.uasamub_pintaria_ti7a.EditProfileAct" />
    </application>

</manifest>